.Searchbar {
    background-color: #1E88E5;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    height: 72px;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    z-index: 99999;
}

/* FRONTPAGE DESIGN */

.frontpage {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 150px 150px;
    margin-top: 5vw;
    margin-bottom: 5vw;

}

.quarters {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    background-color: black;
}

.temperature{
    position: relative;
    height: auto;
    width: 100%;
    display: inline-block;
    margin-top: 1vw;
}

.temperatures{
    position: absolute;
    right: 2vw;
    top: 6px;
}
.temperatures p{
    margin: 0;
    font-weight: lighter;
}

#temperature {
    cursor: pointer;
    margin: 0;
}

.quarters img {
    width: 110%;
    opacity: 0.8;
}

.main {
    position: relative;
    grid-row-end: span 2;
    padding: 1vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    background: linear-gradient(145deg, #0d47a1, #42a5f5);
    color: white;
}

.previewtitle {
    position: absolute;
    color: white;
    bottom: 1vw;
    text-shadow: #0000008c 0.5px 0.1px 0.1px;
    padding-left: 20px;
    left: 15px;
    border-left: solid 2px lightblue;
}

a:hover .previewtitle {
    visibility: hidden;
}

.titles {
    position: absolute;
    z-index: 10000;
    bottom: 0vw;
    padding: 12px;
    max-height: auto;
    opacity: 0.8;
    color: white;
    background-color: #000000d4;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity 0.5s linear;
}

a:hover .titles,
.quarters:hover {
    visibility: visible;
    opacity: .95;
}

.temperature h2 {
    font-size: 4em;
    font-weight: 100;
}

.sun {

    color: orange !important;
}

.weathericon .icon {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .2);

    transition: transform 1s ease-in;
}

.weathericon {
    float: left;
    position: relative;
    height: 60px;
}

.weathericon:hover .icon {
    transform: scale(.8);
    transition: transform 1s ease-in;

}

h2 sup {
    top: -1.5em;
    font-size: 20px;
}



/* weather icons */
.cloud::before,.scatteredcloud::before{
    content: "\f0c2";
    font-size: .6em;
}

.cloud:after,scatteredcloud::after {
    content: "\F0C2";
    position: absolute;
    left: 6px;
    top: 0;
    color: #dadada;
    opacity: .97;
    font-size: .5em;
}

i.icon.thunder:before {
    content: "\F0E7";
    color: yellow;
    position: relative;
    top: 19px;
    left: 0px;
    font-size: 28px;
}

i.icon.thunder:after {
    content: "\F0C2";
    position: absolute;
    left: 1px;
    font-size: .85em;
}

i.icon.partial:before {
    content: "\F185";
    color: #ffd800;
    position: relative;
    left: 6px;
    opacity: .97;
}

i.icon.partial:after {
    content: "\F0C2";
    position: absolute;
    left: 2px;
    opacity: .97;
    font-size: .7em;
}



.zipcode {
    position: absolute;
    bottom: 2em;
}

@media only screen and (max-width: 992px) {
    .frontpage{
        display: flex;
        flex-wrap: wrap
        
    }

    .zipcode{
        position: static;
        margin: 2em 0 2em;
    }

    .main{
        width: 100%;
    }
    .quarters{
        width: 50%
    }
}

@media only screen and (max-width: 600px) {
    .description {
        display: none;
    }

    .frontpage {
        display: flex;
        flex-wrap: wrap;
    }

    .temperatures{
        position: static;
    }
    .weathericon{
        float: none;
    }
}

@media only screen and (max-width:425px){
    i.icon.sun:before {
        content: "\f185";
        font-size: 20vw;
        position: relative;
        right: 1vw;
    }

     #temperature i.icon{
        float: right;
        margin-right: 8vw;
     }

}